<a href="https://colab.research.google.com/github/akasia1/SM03/blob/master/ch02/ch_02_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#데이터 문자형

```

###문자열

In [6]:
# ch2_02_string.py
# "Life is too short, you need python"
# 'Life is too short, you need python'
# """Life is too short, you need python"""
# '''Life is too short, you need python'''
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [12]:
food = 'Python's favorite food is perl'  # Error발생 원인 작은 따옴 표 안에 작은 따옴표
food

SyntaxError: ignored

In [13]:
say = '"Python is very easy." he says.'#위의 코드에 올바른 활용 예시
say

'"Python is very easy." he says.'

###문자열의  역슬레쉬 이용

In [19]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
food,say

("Python's favorite food is perl", '"Python is very easy." he says.')

###문자열의 이스케이프 코드 이용

In [21]:
multiline = "Life is too short\nYou need python"
multiline

'Life is too short\nYou need python'

여러줄 문자열 처리 방법

In [23]:
multiline = '''
 Life is too short
 You need python
 '''
multiline

'\n Life is too short\n You need python\n '

###문자열의 연산 더하기

In [24]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

###문자열의 연산 곱하기

In [25]:
a = "python"
a * 2

'pythonpython'

연산 곱하기를 활용한 간판

In [26]:
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)

==================================================
I am now coding Python!
==================================================

###문자열의 길이 구하기

In [27]:
# 내장함수: len()
a = "Life is too short"
len(a)
#공백까지 문자열의 길이로 인식됨

17

###문자열의 인덱싱

In [32]:
a = "Life is too short, You need Python"

a[3],a[15]


# "파이썬은 0부터 숫자를 센다."

('e', 'r')

###문자열 인덱싱 활용

In [36]:
a = "Life is too short, You need Python"
a[0],a[12],a[-1],
# a[-0]

('L', 's', 'n')

In [37]:
a[-2],a[-5],a[-12]

('o', 'y', ' ')

###문자열 슬라이싱

In [38]:
a = "Life is too short, You need Python"
# Life 를 뽑아낼려면 어떻게?
b = a[0] + a[1] + a[2] + a[3]  # 문자열 뎌하기 연산
b
#이방법으로도 문자열을 뽑아 낼수 있지만

'Life'

In [40]:
# slicing (슬라이싱)
a[0:4]  # 0 <= index < 4

'Life'

In [41]:
a[0:5],a[5:7],a[12:17]

('Life ', 'is', 'short')

In [42]:
# : 의 사용
a[:4],a[19:],a[:17]

('Life', 'You need Python', 'Life is too short')

In [44]:
a[:],a[19:-7]

('Life is too short, You need Python', 'You need')

###문자열 슬라이싱 응용

In [45]:
a = "20190909Sunny"
date = a[:8]
weather = a[8:]
date,weather

('20190909', 'Sunny')

In [46]:
a = "20190917Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year,day,weather

('2019', '0917', 'Rainy')

###문자열의 글자 교체 
"Pithon"이라는 문자열을 "Python"으로 바꾸려면?

In [0]:
###Erorr 인 케이스

In [47]:
a = "Pithon"
a[1]
a[1] = 'y'  # Error (immutable한 자료형)

TypeError: ignored

In [48]:
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]  # Python

'Python'

#문자열 포메팅

##문자열: 포매팅이란?

In [49]:

# 1. 숫자 바로 대입
"I eat %d apples." % 3

문자열: 포매팅이란?

'I eat 3 apples.'

### 2. 문자열 바로 대입

In [50]:

"I eat %s apples." % "five"
#정확한 변수 타입을 설정해주어야한다

'I eat five apples.'

### 3. 숫자 값을 나타내는 변수로 대입

In [51]:

number = 3
"I eat %d apples." % number

'I eat 3 apples.'

### 4. 2개 이상의 값 넣기

In [55]:

number = 10
day = "three"
#에러를 보여주는 예시 "I ate %d apples. so I was sick for %s days." % number  # , day   # Error
"I ate %d apples. so I was sick for %s days." % (number, day)
# 소괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어 준다.
#매개변수를 숫자에 맞게 대입해주어야함 !튜플구조!

'I ate 10 apples. so I was sick for three days.'

##문자열: 포맷 코드

In [107]:

# %d 정수, %s 문자열, %c 문자하나 , %f 실수, %o, %x, %%
# %s, 묵시적 형변환
"I have %s apples" % 3
"rate is %s" % 3.234

문자열: 포맷 코드

'rate is 3.234'

In [56]:


#"Error is %d%." % 98
"Error is %d%%." % 98
#퍼센트를 출력하려면 %%를 입력

문자열: 포맷 코드

'Error is 98%.'

##문자열: 포맷 코드와 숫자 함께 사용하기

In [58]:

### 1. 정렬과 공백
"%10s" % "hi"
"%-10sjane." % "hi"

문자열: 포맷 코드와 숫자 함께 사용하기

'hi        jane.'

### 2. 소수점 표현하기

In [59]:

"%0.4f" % 3.42134234
"%10.4f" % 3.42134234

'    3.4213'

##문자열: format 함수를 사용한 포매팅

In [62]:

### 1. 숫자 바로 대입하기
"I eat {0} apples".format(3) ,"I eat {0} {1} apples".format(3, 4)

문자열: format 함수를 사용한 포매팅

('I eat 3 apples', 'I eat 3 4 apples')

### 2. 문자열 바로 대입하기

In [63]:

"I eat {0} apples".format("five"),   "I eat {0} apples from {1} boxes".format("five", "three")

('I eat five apples', 'I eat five apples from three boxes')

### 3. 숫자 값을 가진 변수로 대입하기

In [64]:

number = 3
"I eat {0} apples".format(number), "I eat {0} apples".format(number + 1)

('I eat 3 apples', 'I eat 4 apples')

### 2개 이상의 값 넣기

In [65]:

number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

### 이름으로 넣기

In [66]:

"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### 인덱스와 이름을 혼용해서 넣기

In [67]:


"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### 왼쪽 정렬/ 오른쪽 정렬

In [69]:
"{0:<10}".format("hi"), "{0:>10}".format("hi")

('hi        ', '        hi')

### 가운데 정렬

In [70]:
"{0:^10}".format("hi")

'    hi    '

###공백 채우기

In [71]:
"{0:=^10}".format("hi"),"{0:!<10}".format("hi")

('====hi====', 'hi!!!!!!!!')

### 도전하기

In [72]:

 "{0:<10}{1:>10}".format("hi",'comsi')

'hi             comsi'

### 소수점 표현하기

In [73]:

y = 3.42134234
"{0:0.4f}".format(y),"{0:10.4f}".format(y)

('3.4213', '    3.4213')

### { 또는 } 문자 표현하기

In [74]:

"{{ and }}".format()

'{ and }'

##문자열: f 문자열 포매팅

In [75]:

name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

문자열: f 문자열 포매팅

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [76]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [0]:
# 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용
d = {"name": "홍길동", "age": 30}

In [81]:
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

###정렬

In [83]:
f'{"hi":<10}'  # 왼쪽 정렬

'hi        '

In [84]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [85]:
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

### 공백 채우기

In [87]:

y = 3.42134234
f"{y:0.4f}"  # 소수점 4자리까지만 표현

'3.4213'

In [88]:

f"{y:10.4f}"  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

### { } 문자를 표시

In [89]:

f"{{ and }}"

'{ and }'

##문자열: 관련 내장 함수들

In [90]:
### 문자 개수 세기(count)
a = "hobby"
a.count("b")

문자열: 관련 내장 함수들

2

In [92]:
### 위치 알려주기1(find)
a = "Python is the best choice"
a.find("b"),a.find("k")  # what value?

(14, -1)

In [94]:
### 위치 알려주기2(index)
a = "Life is too short"
a.index("t")

8

In [95]:
a.index("k")
#문자가 없음으로 에러 발생

ValueError: ignored

### 문자열 삽입(join)

In [96]:

",".join("abcd")
",".join(["a", "b", "c", "d"])

'a,b,c,d'

### 소문자를 대문자로 바꾸기(upper)

In [97]:

a = "hi"
a.upper()

'HI'

### 대문자를 소문자로 바꾸기(lower)

In [98]:

a = "IoT"
a.lower()

'iot'

### 왼쪽 공백 지우기(lstrip)

In [99]:

a = " hi "
a.lstrip()

'hi '

### 오른쪽 공백 지우기(rstrip)

In [100]:

a.rstrip()

' hi'

### 양쪽 공백 지우기(strip)

In [101]:

a.strip()

'hi'

### 문자열 바꾸기(replace)

In [102]:

a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

### 문자열 나누기(split) -> 리스트로 변환하여 반환

In [105]:

a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [104]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

##도전하기 #####
### format 함수 또는 f 문자열 포매팅을 이용해서 '!!!python!!!' 문자열을 출력해보시오.

In [106]:

"{0:!^12}".format("python")
f'{"python":!^12}'

'!!!python!!!'